@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="page-header min-vh-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                    <div class="card card-plain mt-8">
                        <div class="card-header pb-0 text-left bg-transparent">
                            <h3 class="font-weight-bolder text-info text-gradient">Password recovery.</h3>
                            @if (@ViewBag.AuthError != null)
                            {
                                    <p class="text-danger">@ViewBag.AuthError</p>
                            }
                            <label>Email</label>
                            <div class="mb-3">
                                <form id="logoutForm" method="post" class="form-inline" asp-controller="Admin" asp-action="ForgotPassword">
                                    <input type="email" name="Email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="email-addon">
                                    <button id="logout" type="submit" class="nav-link btn btn-warning text-dark border-0">Reset password.</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>