@using SS_EDUP.Core.ViewModels.User;
@model ResetPasswordVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="page-header min-vh-75">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 d-flex flex-column mx-auto">
                    <div class="card card-plain mt-8">
                        <div class="card-header pb-0 text-left bg-transparent">
                            <h3 class="font-weight-bolder text-info text-gradient">Reset password.</h3>
                            <h3 class="font-weight-bolder text-info text-gradient">Warning! You must do it for once.</h3>
                            <form asp-controller="Admin" asp-action="ResetPassword" method="post">

                                <input type="hidden" asp-for="Token" value=@ViewBag.Token />
                                <input type="hidden" asp-for="Email" value=@ViewBag.Email />
                                <label>Password</label>
                                <div class="mb-3">
                                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="NewPassword" aria-label="NewPassword" aria-describedby="password-addon" />
                                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                                </div>
                                <label>Confirm password</label>
                                <div class="mb-3">
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" aria-label="NewPassword" aria-describedby="password-addon" />
                                    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-warning bg-gradient-info w-100 mt-4 mb-0">Reset password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>