<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="./AdminPanel/_Header.cshtml" />
</head>
<body class="g-sidenav-show  bg-gray-100">
    <main class="main-content  mt-0 ">
        @RenderBody()
        <partial name="./AdminPanel/auth/_Footer.cshtml" />
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>